
#blog h4 {
    text-align: left;
    font-size: 40px;
    margin: -5px;
}
#bienvenidos h3{
    font-size: 60px;
    margin-bottom: -5px;
}
#blog .contenedor{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;

}
#blog p{
    font-size: 20px;

}
#blog article{
    margin: 51px;
    text-align: justify;
    padding: 5px;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 5px solid;

}

#blog a{
    display: block;
    width: 150px;
    color: black;
    text-decoration: none;
    padding: 7px;
    margin-top: 13px;
    border: 2px solid black;
    justify-content: space-around;
}
#blog a:hover {
    background: rgba(51,51,51,0.5);

}

#blog img{
    width: 100%;
    max-width: 500px;
    border: black 5px solid;
    justify-content: space-around;
}

