@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url(menu.css);
@import url(fontello.css);
@import url(banner.css);
@import url(blog.css);
@import url(social.css);
@import url(normalize.css);
*
{
	margin: 0
	padding:0;
	box-sizing: border-box;
}   

body {
	font-family: 'Nunito', sans-serif;
}

header {
	width: 100%;
	height: 65px;
	background: #333;
	color: #fff;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;

}
.contenedor {
	width: 88%;
	margin: auto;
	padding: 2;
}

h1{
	float: left;
    
}



section{
	width: 100%;
	margin-boton: 25px;
}

#bienvenidos {
	text-align: center;
}

footer .contenedor {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}

.copy{
	font-size: 20px;
}

@media (min-width: 1024px) {
    .contenedor {
        width: 1000px;
    }
}