#banner {
	position: relative;
}

#banner .contenedor{
	text-align: justify;
}

#banner img {
	width: 100%;
	height: 1%;

}

#banner h2 {
	font-size: 25px;
	color: black;


}

#banner p{
	font-size: 20px;
}

@media (min-width: 480px) {
	#banner h2 {
		font-size: 30px;
		margin-top: -50px
		color: black;
        
	}
    #Publicidad img {
       float: left;
        
        
        
    }
@media (min-width: 768px) {
	#banner {
		height: 300px
    
		
	}
    #banner img {
		height: auto;
	}
    
   







#Publicidad{
    position:fixed;;

    
    
    
	

}

