#banner {
	position: relative;
	width: 800px;
	margin: 4px auto;
	text-align: justify;
	left: -100px;
}

#banner .contenedor{
	text-align: justify;
}

#banner iframe {
	position: relative;
	top: 100px;
	margin: 10px;


}
#banner p{
	font-size: 20px;
}

#banner h2 {
	font-size: 35px;
	color: black;
	margin: 20px;
	text-align: left;
	padding: 20px;



}

#banner a{
	border-style: solid;
	border-color: black;
	font-size: 30px; 
	color: red;
}







