#banner {
	position: relative;
}

#banner .contenedor{
	text-align: justify;
}

#banner img {
	width: 100%;
	height: 100%;

}

#banner h2 {
	font-size: 25px;
	color: blue;

}

#banner p{
	font-size: 20px;
}

#banner h5 {
	font-size: 50px;
	color: black;
	margin-bottom: -0px;
	margin-top: -0px;
}

#banner h3 {
	font-size: 40px
	color: green;
	margin-bottom: -10px;
}

@media (min-width: 480px) {
	#banner h2 {
		font-size: 20px;
		margin-top: -50px
		color: black;
	}

	

@media (min-width: 768px) {
	#banner {
		height: 300px;
		
	}

	#banner img {
		height: auto;
	}


    #Publicidad{
        position: absolute;
        top: 1150px;
        left: 1550px;
    }







