@font-face {
  font-family: 'google';
  src: url('../font/google.eot?90399673');
  src: url('../font/google.eot?90399673#iefix') format('embedded-opentype'),
       url('../font/google.woff2?90399673') format('woff2'),
       url('../font/google.woff?90399673') format('woff'),
       url('../font/google.ttf?90399673') format('truetype'),
       url('../font/google.svg?90399673#google') format('svg');
  font-weight: normal;
  font-style: normal;
}

 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "google";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  
  margin-right: .2em;
  text-align: center;
  width: 1em;
 
  font-variant: normal;
  text-transform: none;
 
 
  line-height: 1em;
 
  
  margin-left: .2em;
 

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
 
}
 
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-soccer-ball:before { content: '\f1e3'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */