.social {
	position: fixed;
	left: -040px;
	top: 200px;/
	z-index: 2000; 
}
 
    .social ul {
		list-style: none;
	}
 
	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; 
	}
 
	.social ul li .icon-facebook-official{background:#3b5998;}
	.social ul li .icon-twitter {background: #00abf0;}
	.social ul li .icon-gplus {background: #d95232;}
	.social ul li .icon-pinterest {background: #ae181f;}
	.social ul li .icon-mail {background: #666666;}
 
	.social ul li a:hover {
		background: #000; 
		padding: 10px 30px;
	}
