#banner {
	position: relative;
}

#banner .contenedor{
	text-align: justify;
}

#banner img {
	width: 100%;
	height: 100%;

}

#banner h2 {
	font-size: 15px;
	color: green;

}

#banner p{
	font-size: 20px;
}

#banner h5 {
	font-size: 50px;
	color: black;
	margin-bottom: -10px;
	margin-top: -10px;
}

#banner h3 {
	font-size: 40px
	color: green;
	margin-bottom: -1px;
}

@media (min-width: 480px) {
	#banner h2 {
		font-size: 20px;
		margin-top: -50px
		color: black;
	}

	

@media (min-width: 768px) {
	#banner {
		height: 100px
		
	}

	#banner img {
		height: auto;
	}




