#banner {
	margin-top: 10px;
	position: relative;
	margin-bottom: -30px;
}


#banner img {
	width: 100%;
	height: 100%;

}

#banner .contenedor {
	position: absolute;
	top: 520x;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: #fff;


}

#banner h2 {
	font-size: 58px;


}



#banner a {
	display: block;
	width: 220px;
	color: white;
	text-decoration: none;
	padding: 6px;
	margin-top: 10px;
	border: 3px solid #fff;
    top:40px;
    left:500px;
    position: absolute
}

#banner a:hover {
	background: rgba(51,51,51,0.5);
}

@media (min-width: 480px) {
	#banner h2 {
		font-size:100px;
		margin-top: -50px
	}

	#banner a {
		font-size: 15px;
		margin-top: -20px;


	}
@media (min-width: 768px) {
	#banner {
		height: 300px
		overflow: hidden;	
	}

	
	
    #Publicidad{
        width: 100%;
    }
    


	
